In [ ]:
nomes = ['mark', 'john','jo√£o','maria','carlos','ana']

for nome in nomes:
    print(nome.upper())