In [ ]:
pip install pandas

In [9]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     -------------------------------------  245.8/250.0 kB 5.0 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd
import openpyxl

In [1]:
import json

data = {
    'Nome':"Joana",
    'Idade':30,
    'Cidade':"São Paulo"
}

with open ('dados.json', 'w') as file:
    json.dump(data, file)

In [2]:
# Leitura de Dados

with open("dados.json", "r") as json_file:
    dados_json = json.load(json_file)

print("Dados no formato json:")
print(dados_json)

Dados no formato json:
{'Nome': 'Joana', 'Idade': 30, 'Cidade': 'São Paulo'}

In [17]:
data = {
    'Nome':"Joana",
    'Idade':30,
    'Cidade':"São Paulo"
}

df = pd.DataFrame(data, index=[0])

df.to_excel('dados_excel.xlsx', index=False)

In [18]:
df.to_csv('dados_csv.csv', index=False)

In [31]:
# leitura dos arquivos

df_excel = pd.read_excel('dados_excel.xlsx')
df_csv = pd.read_csv('dados_csv.csv')

with open ('dados.json', 'r') as json_file:
    dados_json = json.load(json_file)

print(df_excel)
print(df_csv)
print('Dados em json', dados_json)

    Nome  Idade     Cidade
0  Joana     30  São Paulo
    Nome  Idade     Cidade
0  Joana     30  São Paulo
Dados em json {'Nome': 'Joana', 'Idade': 30, 'Cidade': 'São Paulo'}

In [32]:
dados = {
    'Nome':["Eduardo", "Nathan", "Bea", "Edson"],
    'Idade':[24, 23, 20, 18],
    'Cidade':["São Bernardo", "Barueri", "Extrema", "São Paulo"],
    'Kdot ou Drake':["Kdot", "Kdot", "Kdot", "Drake"]
}

with open ('exercicio.json', 'w') as file:
    json.dump(dados, file)

In [35]:
# Merge e concat de casos

left = pd.DataFrame({
    'Key':['k0','k1','k2','k3'],
    'A':['A0', 'A1', 'A2', 'A3'],
    'B':['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'Key':['k0','k1','k2','k3'],
    'C':['C0', 'C1', 'C2', 'C3'],
    'D':['D0', 'D1', 'D2', 'D3']
    })

  Key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [37]:
# Merge
df_merge = pd.merge(left, right, on='Key')
df_merge

  Key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [45]:
# Concat

left = pd.DataFrame({
    'Key':['k0','k1','k2','k3'],
    'A':['A0', 'A1', 'A2', 'A3'],
    'B':['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'Key':['k0','k1','k2','k3'],
    'A':['C0', 'C1', 'C2', 'C3'],
    'B':['D0', 'D1', 'D2', 'D3']
    })

df_concat = pd.concat([left, right], axis=1).reset_index(drop=True)
df_concat

  Key   A   B Key   A   B
0  k0  A0  B0  k0  C0  D0
1  k1  A1  B1  k1  C1  D1
2  k2  A2  B2  k2  C2  D2
3  k3  A3  B3  k3  C3  D3

In [54]:
# 1

dados_json = {
    'nome':["João", "Maria", "Pedro"],
    'idade':[30, 25, 35],
    'cidade':["São Paulo", "Rio de Janeiro", "Belo Horizonte"],
    'profissao':["Engenheiro", "Professor", "Médico"]
}

dados_excel = {
    'nome':["João", "Maria", "Pedro"],
    'UF':["SP", "RJ", "BH"]
}


dados_csv = {
    'nome':["João", "Maria", "Pedro"],
    'idade':[30, 25, 35],
    'Estado Civil':["Solteiro", "Casado", "Casado"]
}

In [58]:
df_csv = pd.DataFrame(dados_csv)
df_excel = pd.DataFrame(dados_excel)
df_json = pd.DataFrame(dados_json)

print('Dados em csv: \n', df_csv)
print('Dados em excel: \n', df_excel)
print('Dados em json: \n', df_json)

Dados em csv:
     nome  idade Estado Civil
0   João     30     Solteiro
1  Maria     25       Casado
2  Pedro     35       Casado
Dados em excel:
     nome  UF
0   João  SP
1  Maria  RJ
2  Pedro  BH
Dados em json:
     nome  idade          cidade   profissao
0   João     30       São Paulo  Engenheiro
1  Maria     25  Rio de Janeiro   Professor
2  Pedro     35  Belo Horizonte      Médico

In [69]:
df_csv.to_csv('dados-csv.csv', index=False)
df_excel.to_excel('dados-excel.xlsx', index=False)
df_json.to_json('dados-json.json', index=False)

with open ('dados-json.json', 'r') as json_file:
    dados_json = json.load(json_file)

In [70]:
# Merge df_csv e df_excel

df_merge = pd.merge(df_csv, df_excel, on='nome')
df_merge

    nome  idade Estado Civil  UF
0   João     30     Solteiro  SP
1  Maria     25       Casado  RJ
2  Pedro     35       Casado  BH

In [80]:
df_merge = pd.merge(df_csv, df_excel, on='nome')
df_merge = pd.merge(df_merge, df_json, on=['nome', 'idade'])

df_merge

    nome  idade Estado Civil  UF          cidade   profissao
0   João     30     Solteiro  SP       São Paulo  Engenheiro
1  Maria     25       Casado  RJ  Rio de Janeiro   Professor
2  Pedro     35       Casado  BH  Belo Horizonte      Médico