In [2]:
tensao = float(input('Digite valor da tensão'))
corrente = float(input('Digite valor de corrente'))

p = tensao * corrente

print(f'O valor da potência é igual a: {p}')

O valor da potência é igual a: 4.0

In [3]:
def calcula_potencia(v, i):
    p = v * i
    return p

v = 127
i = 1

resultado = calcula_potencia(v, i)

print(f"O valor da potência é: {resultado}")

O valor da potência é: 127

In [ ]:
ordem = ["first", "second","third"]
titulo = ["King","queen","princess"]

for x in ordem:
    for y in titulo:
        print(x,y)

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

C:\Users\logonrmlocal\AppData\Local\Temp\ipykernel_11176\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:

dados = {
    'Tipo de Carro': ['Sedan', 'SUV', 'Hathback', 'Caminhonete', 'Coupé'],
    'Tipo de Direção': ['Hidraulica', 'Elétrica', 'Mecânica', 'Elétrica', 'Hidraulica'],
    'Tipo de Pneus': ['Radial', 'Diagonal', 'Radial', 'Diagonal', 'Radial'],
    'Faixa de Preço': ['Alto', 'Médio', 'Baixo', 'Alto', 'Médio'],
    'Potência - CV': [120, 130, 100, 180, 200],
    'Velocidade de Cruzeiro': [True, False, True, True, False],
}

df_carros = pd.DataFrame(dados)

df_carros

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidraulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False
2,Hathback,Mecânica,Radial,Baixo,100,True
3,Caminhonete,Elétrica,Diagonal,Alto,180,True
4,Coupé,Hidraulica,Radial,Médio,200,False

In [7]:
df_carros

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidraulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False
2,Hathback,Mecânica,Radial,Baixo,100,True
3,Caminhonete,Elétrica,Diagonal,Alto,180,True
4,Coupé,Hidraulica,Radial,Médio,200,False

In [15]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tipo de Carro           5 non-null      object
 1   Tipo de Direção         5 non-null      object
 2   Tipo de Pneus           5 non-null      object
 3   Faixa de Preço          5 non-null      object
 4   Potência - CV           5 non-null      int64
 5   Velocidade de Cruzeiro  5 non-null      bool
dtypes: bool(1), int64(1), object(4)
memory usage: 337.0+ bytes

In [16]:
df_carros.head()

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidraulica,Radial,Alto,120,True
1,SUV,Elétrica,Diagonal,Médio,130,False
2,Hathback,Mecânica,Radial,Baixo,100,True
3,Caminhonete,Elétrica,Diagonal,Alto,180,True
4,Coupé,Hidraulica,Radial,Médio,200,False

In [17]:
a = df_carros['Tipo de Carro']

In [18]:
a

0          Sedan
1            SUV
2       Hathback
3    Caminhonete
4          Coupé
Name: Tipo de Carro, dtype: object

In [9]:
print(f"Minimia: {df_carros['Potência - CV'].min()}")
print(f"Máxima: { df_carros['Potência - CV'].max()}")
print(f"Média: {df_carros['Potência - CV'].mean()}")
print(f"Mediana: {df_carros['Potência - CV'].median()}")

Minimia: 100
Máxima: 200
Média: 146.0
Mediana: 130.0

In [10]:
def filtra_por_valor(df_carros, coluna, valor):
    return df_carros[df_carros[coluna] == valor]

filtra_por_valor(df_carros, 'Tipo de Carro', 'Sedan')

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência - CV,Velocidade de Cruzeiro
0,Sedan,Hidraulica,Radial,Alto,120,True

In [22]:
nomes_desejados = ['Moacir', 'Mirtes']
carros_desejados = ['Caminhonete', 'SUV']

for nome in nomes_desejados:
    for carro in carros_desejados:
        dados = df_carros.loc[df_carros['Tipo de Carro'] == carro]
        print(f"O carros são {dados}:\n{df_carros['Tipo de Carro']}\n")

O carros são Caminhonete:
0          Sedan
1            SUV
2       Hathback
3    Caminhonete
4          Coupé
Name: Tipo de Carro, dtype: object

O carros são SUV:
0          Sedan
1            SUV
2       Hathback
3    Caminhonete
4          Coupé
Name: Tipo de Carro, dtype: object

O carros são Caminhonete:
0          Sedan
1            SUV
2       Hathback
3    Caminhonete
4          Coupé
Name: Tipo de Carro, dtype: object

O carros são SUV:
0          Sedan
1            SUV
2       Hathback
3    Caminhonete
4          Coupé
Name: Tipo de Carro, dtype: object